body {
background-image: url('../images/steelsheet.png')
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
} 
.row {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
