<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">Terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <div>
        <form method="post" class="post">
            <input type="text" name="arg_aa1" value="priorytet" class="post_child">
            <input type="text" name="arg_aa2" value="data" class="post_child">
            <input type="text" name="arg_aa3" value="reaktor ID" class="post_child">
            <input type="submit" class="post_child">
        </form>
    </div>
</body>
</html>