<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Panel Kontrolny</title>
    <title></title>
</head>
<body>
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">Terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <div>
        <selec>
            <option value="insert">Dodaj</option>
            <option value="delete">Usuń</option>
            <option value="update">Zmień</option>
        </selec>
    </div>
    <div>
       <form>
            <input type="text" name="arg1">
            <input type="text" name="arg2">
            <input type="text" name="arg3">
            <input type="submit" value="submit">
       </form>
    </div>
</body>
</html>