<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/reset.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="script" href="../terminal_script.js">
    <title>Panel Kontrolny</title>
    <title></title>
</head>
<body onload="site_load()">
    <ul class="navbar">
        <li><a class="row" href="alarms">Alarmy</a></li>
        <li><a class="row" href="workers">Pracownicy</a></li>
        <li><a class="row" href="deliveries">Dostawy</a></li>
        <li><a class="row" href="terminal">Terminal</a></li>
        <li><a class="row" href="/">Wróć</a></li>
    </ul>
    <div>
        <select name="action_control" id="terminal_option_id">
            <option value=""></option>
            <option value="insert">Dodaj</option>
            <option value="delete">Usuń</option>
            <option value="update">Zmień</option>
        </select>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th id="th1">Tabela</th>
                    <th id="th2">Wartość 1</th>
                    <th id="th3">Wartość 2</th>
                    <th id="th4">Wartość 3</th>
                    <th id="th5">Wartość 4</th>
                </tr>
            </thead>
        <tbody>
                <tr>
                    <form method="POST">
                    <td><input type="text" name="arg1"></td>
                    <td><input type="text" name="arg2"></td>
                    <td><input type="text" name="arg3"></td>
                    <td><input type="text" name="arg4"></td>
                    <td><input type="text" name="arg5"></td>
                    <td><input type="submit" value="submit"></td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
    <div>  
    </div>
</body>
</html>