body {
background-image: url('../images/steelsheet.png')
}

@font-face {
    font-family: "Segmented";
    src: url(../fonts/Seven_Segment.ttf);
}
@font-face {
    font-family: "Typewriter";
    src: url(../fonts/rough_typewriter.otf);
}
@font-face {
    font-family: "TypewriterBold";
    src: url(../fonts/rough_typewriter-bld-itl.otf);
}

/* NAVBAR ==================================================== */

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;;
    overflow: hidden;
    background-image: url('../images/metal-plate-MXI18442.jpg');
    width: 600px;
    margin-bottom: 20px;
    box-shadow: 10px 5px 5px black;
    justify-content: left;
}
.navbar a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding-left: 25px;
}

/* MAIN CONSOLE ===================================================== */
.row {
    float: left;
    padding: 10px;
}

.row a{
    display: block;
    padding: 10px;
    background-color: #dddddd;
}

.value-box {
    font-family: TypeWriterBold;    
}
.value {
    font-family: Segmented;
}

.data {
    margin-bottom: 20px;
    font-size: 48px;
    margin-left: 10px;
    width: 95%;
    background-image: url(../images/metal_rivets.jpg);
    box-shadow: 10px 5px 5px black;
}
.data li {
    padding: 10px;
    padding-left: 50px;
}
.data .top {
    padding-top: 50px;
}
.data .bottom {
    padding-bottom: 90px;
}
.flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* ALARMS ========================================================== */
.filtr {
    display: flex;
    justify-content: center;
}
.filtr_sub {
    justify-self: center;
}
.alarm_control {
    font-size: 36px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;    
}
.filtr input {
    font-size: 24px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: cover;
    color:lightgray;
    border-width: 1px;
}

.dataBox {
    font-family: Segmented;
    font-size: 32px;
}
.box-data{
    padding-left: 50px;
    padding-right: 45px;
}

.godzina {
    font-size: 24px !important;
}
.classification {
    font-size: 26px;
    font-family: TypeWriterBold;
}
.table {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/metal_rivets.jpg');
    width:80%;
    background-size: cover;
}

table::before {
    content: '';
    display: block;
    height: 30px;
}
table::after {
    content: '';
    display: block;
    height: 60px;
}
thead::before {
    content: '';
    display: block;
    height: 40px;
}


/* DELIVERIES */

.table-deliv {
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/metal_rivets.jpg');
    width:80%;
    background-size: contain;
}

/* TERMINAL */

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-content: center;
}
.link button{
    font-size: 50px;
    width: 500px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: 80px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;
}

/* ADD */

.post {
    white-space: nowrap;
    display: inline-block;
    width: 100%;

}
.post_child {
    font-size: 36px;
    width: 24%;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;
}
.post_child::placeholder{
    color: lightgray;
}
.post_child_w::placeholder{
    color: lightgray;
}

.post_child_w {
    font-size: 36px;
    width: 19%;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;
    
}

/* DELETE */

.del {
    width: 25%;
    font-size: 36px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;
}
.del_sub {
    width: 10%;
    font-size: 36px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: contain;
    color:lightgray;
}
.lab {
    border-width: 2px;
    border-style: inset;
    border-color: rgb(118, 118, 118);
    border-image: initial;
    font-size: 39px;
    background-image: url('../images/1000_F_93902020_FF0enrpr1ylRNOkw3CV3lA5NAdgdr0tw.jpg');
    background-size: cover;
    color:lightgray;
}